@charset "UTF-8";
/* 
   - 대표 색상
   #0f4c81
   - hover 색상
   #d76468
*/
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   outline:none;
}

body::-webkit-scrollbar { 
    display: none; 
}

#container {
   -ms-overflow-style: none;
}

input:focus::-webkit-input-placeholder {color:transparent; }


#page {
   width: 1200px;
   margin: auto;
}

.ac-sub-go-top {
   width: 60px;
   height: 100px;
   bottom: calc(5%);
   position: fixed;
   right: calc(5%);
   display: inline-block;
   background: url(/resources/img/up_icon.png) no-repeat 50% 50%;
   text-indent: -9999px;
   border: none;
   background-size: 50%;
   display: none;
   transition: all 1s;
   cursor:pointer;
}

/* header ------------------------*/
#header {
   height: 180px;
   position: relative;
}

#header a {
   text-decoration: none;
   color: gray;
   font-size: 13px;
}

#div_header_signup {
   position: absolute;
   right: 10px;
}

#div_header_signup a:nth-child(1) {
   margin: 5px;
}

#div_header_signup a:hover {
   color: #d76468;
}

#header_logo {
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   left: 50%;
   cursor: pointer;
}

/* container ---------------------*/
#container {
   position: relative;
   overflow:hidden;
}

/* air search --------------------------- */
#div_air_check {
	text-align:center;
	position:relative;
	height:1070px;
	z-index:-1;
}
#div_air_check #air_check_none1,
#div_air_check #booking {
	border:2px solid black;
	border-collapse:collapse;
	text-align:center;
	font-size:13px;
	position:absolute;
	top:830px;
	left:30px;
}

#div_air_check #air_check_none2,
#div_air_check #booking1 {
	border:2px solid black;
	border-collapse:collapse;
	text-align:center;
	font-size:13px;
	position:absolute;
	top:830px;
	right:30px;
}

#div_air_check .none_title {
	height:70px;
}

#div_air_check .none_title2 {
	height:35px;
}

/* footer ------------------------*/
#footer {
   overflow:hidden;
   font-size: 11px;
   width: 1200px;
   padding-top: 5px;
   width: 1200px;
   position:relative;
   border-top:0.5px solid gray;
}

#div_footer_area1 {
   display: inline-block;
   margin-left: 5px;
   position:relative;
}

#div_footer_area1 a {
   text-decoration: none;
   padding: 5px;
   color: black;
}

#div_footer_icon_area {
   display:inline-block;
   position: relative;
   right:-450px;
   top:8px;
}

#div_footer_icon_area img {
   cursor: pointer;
   margin-right: 10px;
}

#div_footer_area2 {
   margin-left: 5px;
   margin-top: 20px;
}

#div_footer_area2 span {
   padding: 5px;
}

#div_footer_area3 {
   margin-left: 5px;
   margin-top: 5px;
}

#div_footer_area3 span {
   padding: 5px;
   color: black;
}

#div_footer_area3 a {
   color: black;
}

#div_footer_area4 {
   margin-left: 5px;
   margin-top: 5px;
}

#div_footer_area4 span {
   padding: 5px;
   color: black;
}

#div_footer_area5 {
   margin-left: 5px;
   margin-top: 20px;
   margin-bottom: 20px;
}

#div_footer_area5 span {
   padding: 5px;
   color: black;
}