<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HotplaceMapper">
    <select id="list" resultType="com.example.domain.HotplaceVO">
    	select * from tbl_hotplace
    </select>
    <select id="imagelist" resultType="string">
    	select h_i_images from tbl_hotplace_images where h_x=#{h_x} and h_y=#{h_y} order by h_i_images
    </select>
</mapper>