<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <insert id="insert">
    	insert into tbl_user(u_id,u_pass,u_name,u_tel,u_address,u_email,u_image,u_birthday,u_status,u_key,u_gender)
		values(#{u_id},#{u_pass},#{u_name},#{u_tel},#{u_address},#{u_email},#{u_image},#{u_birthday},#{u_status},#{u_key},#{u_gender})
    </insert>
    <insert id="insertKakao">
    	insert into tbl_user(u_k_id,u_pass,u_name,u_tel,u_address,u_email,u_image,u_birthday,u_status,u_key,u_gender)
		values(#{u_k_id},#{u_pass},#{u_name},#{u_tel},#{u_address},#{u_email},#{u_image},#{u_birthday},#{u_status},#{u_key},#{u_gender})
    </insert>
    <insert id="insertUsertag">
    	insert into tbl_tag(t_id,t_k_id,t_tag)
    	values(#{param1},"0",#{param2})
    </insert>
    
    <insert id="insertCompany">
    	insert into tbl_company (c_id,c_pass, c_name, c_tel, c_email, c_address, c_image, c_number, c_ceo, c_ceo_tel, c_x, c_y, c_detail, c_area, c_key) 
    	values(#{c_id},#{c_pass},#{c_name},#{c_tel},#{c_email},#{c_address},#{c_image},#{c_number},#{c_ceo},#{c_ceo_tel},#{c_x},#{c_y},#{c_detail},#{c_area},#{c_key});                     
    </insert>
    <insert id="insertCompanyoption">
    	insert into tbl_company_option(c_o_id,c_o_option)
    	 values(#{param1},${param2})
    </insert>
    
    <select id="read" resultType="com.example.domain.UserVO">
    	select * from tbl_user where u_id=#{u_id}
    </select>
    <select id="readkakao" resultType="string">
    	select u_k_id from tbl_user where u_k_id=#{u_k_id}
    </select>
    <select id="readtag" resultType="com.example.domain.UserTagVO">
    	select * from tbl_tag where t_id=#{t_id}
    </select>
     <select id="readid" resultType="string">
    	select count(*) from tbl_user where u_id=#{u_id}
    </select>
    
    <select id="readCompany" resultType="com.example.domain.CompanyVO">
    	select * from tbl_company where c_id=#{c_id}
    </select>
   	<select id="readOption" resultType="com.example.domain.CompanyOptionVO">
   		select * from tbl_company_option where c_o_id=#{c_o_id}
   	</select>
    <select id="readcompanyid" resultType="string">
    	select count(*) from tbl_company where c_id=#{c_id}
    </select>
    <select id="readcompanyNumber" resultType="string">
    	select c_number from tbl_company where c_number=#{c_number} and c_key="Y"
    </select>
    
    
    <insert id="GetKey" parameterType="Map">
    	update tbl_user set u_key=#{param2} where u_id=#{param1}
    </insert>
    <update id="alter_userKey" parameterType="Map">
    	update tbl_user set u_key='Y' where u_id=#{param1} and u_key=#{param2}
    </update>
    <insert id="GetKeyCompany" parameterType="Map">
    	update tbl_company set c_key=#{param2} where c_id=#{param1}
    </insert>
    <update id="alter_KeyCompany" parameterType="Map">
    	update tbl_company set c_key='Y' where c_id=#{param1} and c_key=#{param2}
    </update>
    
    
    <delete id="delete">
    	delete from tbl_user where u_id=#{u_id}
    </delete>
    <delete id="deleteTag">
    	delete from tbl_tag where t_id=#{t_id}
    </delete>
    <delete id="deleteCompany">
    	delete from tbl_company where c_id=#{c_id}
    </delete>
    <delete id="deleteOption">
    	delete from tbl_company_option where c_o_id=#{c_o_id}
    </delete>
    
    <select id="checkName" resultType="int">
   		 select count(*) from tbl_user where u_name=#{param2} and u_birthday=#{param1} and u_key="Y"
    </select>
    <select id="checkID" resultType="com.example.domain.UserVO">
    	select u_id from tbl_user where u_name=#{param2} and u_birthday=#{param1} and u_key="Y"
    </select>
    <update id="updatePass">
    	update tbl_user set u_pass=#{param2} where u_id=#{param1} 
    </update>
    <!--  -->
     <select id="checkNameCompany" resultType="int">
   		 select count(*) from tbl_company where c_name=#{param2} and c_number=#{param1} and c_key="Y"
    </select>
    <select id="checkIDCompany" resultType="String">
    	select c_id from tbl_company where c_name=#{param2} and c_number=#{param1} and c_key="Y"
    </select>
    <update id="updatePassCompany">
    	update tbl_company set c_pass=#{param2} where c_id=#{param1} 
    </update>
    
    <!-- 회원수정 -->
    <update id="updateUser">
    	update tbl_user set u_address=#{u_address}, u_email=#{u_email}, u_pass=#{u_pass}, u_image=#{u_image}
    	where u_id=#{u_id}
    </update>
        <update id="updateUser2">
    	update tbl_user set u_address=#{u_address}, u_email=#{u_email}, u_pass=#{u_pass}
    	where u_id=#{u_id}
    </update>
    
    <!-- 업체회원수정  -->
    <update id="updateCompany">
    	update tbl_company set c_tel=#{c_tel}, c_pass=#{c_pass}, c_email=#{c_email}, c_image=#{c_image}, c_ceo=#{c_ceo}, c_ceo_tel=#{c_ceo_tel}, c_detail=#{c_detail}, c_area=#{c_area}
    	where c_id=#{c_id}
    </update>
     <update id="updateCompany2">
    	update tbl_company set c_tel=#{c_tel}, c_pass=#{c_pass}, c_email=#{c_email}, c_ceo=#{c_ceo}, c_ceo_tel=#{c_ceo_tel}, c_detail=#{c_detail}, c_area=#{c_area}
    	where c_id=#{c_id}
    </update>

</mapper>